<div class="Signup-box">
    <h2>SignUp</h2>
    <form action="/action_page.php">
        <label>signUp as : </label>
        <select>
            <option value="Admin">Admin</option>
            <option value="User">User</option>
        </select>
        <label></label>
        <input type="text" placeholder="Username">
        <label></label>
        <input type="text" placeholder="Name">
        <label></label>
        <input type="text" placeholder="Email">
        <label></label>
        <input type="text" placeholder="Phone Number">
        <label></label>
        <input type="text" placeholder="Password">
        <label></label>
        <input type="text" placeholder="Confirm Password">
        <button (click)="Signup('login')">SignUp</button><br>
        <button (click)="SignIn('login')">Login</button>
    </form>
</div>
