<div>
<p>Please find below List of NFTs</p>
</div>
<table class="table" style="margin-top: 100px; border: solid 1px black;">
    <thead >
      <th style="border:solid 1px black ;" >aesKey </th>
      <th style="border:solid 1px black ;">chainCodeId</th>
      <th style="border:solid 1px black ;">courseName</th>
      <th style="border:solid 1px black ;">docType</th>
      <th style="border:solid 1px black ;">fName</th>
      <th style="border:solid 1px black ;">itemCpyNum</th>
      <th style="border:solid 1px black ;">itemID</th>
      <th style="border:solid 1px black ;">itemImage</th>
      <th style="border:solid 1px black ;">lName</th>
      <th style="border:solid 1px black ;">name</th>
      <th style="border:solid 1px black ;">nftId</th>
      <th style="border:solid 1px black ;">nftOwner</th>
      <th style="border:solid 1px black ;">nftStatus</th>
      <th style="border:solid 1px black ;">nftURL</th>
      <th style="border:solid 1px black ;">owner</th>
      <th style="border:solid 1px black ;">price</th>
      <th style="border:solid 1px black ;">symbol</th>
      <th style="border:solid 1px black ;">timeStamp</th>
    </thead>
    <tbody>
      <tr *ngFor="let currentTask of nfts">
        <td style="border:solid 1px black ;">{{currentTask.aesKey}}</td>
        <td style="border:solid 1px black ;">{{currentTask.chainCodeId}}</td>
        <td style="border:solid 1px black ;">{{currentTask.courseName}}</td>
        <td style="border:solid 1px black ;">{{currentTask.docType}}</td>
        <td style="border:solid 1px black ;">{{currentTask.fName}}</td>
        <td style="border:solid 1px black ;">{{currentTask.itemCpyNum}}</td>
        <td style="border:solid 1px black ;">{{currentTask.itemID}}</td>
        <td style="border:solid 1px black ;">{{currentTask.itemImage}}</td>
        <td style="border:solid 1px black ;">{{currentTask.lName}}</td>
        <td style="border:solid 1px black ;">{{currentTask.name}}</td>
        <td style="border:solid 1px black ;">{{currentTask.nftId}}</td>
        <td style="border:solid 1px black ;">{{currentTask.nftOwner}}</td>
        <td style="border:solid 1px black ;">{{currentTask.nftStatus}}</td>
        <td style="border:solid 1px black ;">{{currentTask.nftURL}}</td>
        <td style="border:solid 1px black ;">{{currentTask.owner}}</td>
        <td style="border:solid 1px black ;">{{currentTask.price}}</td>
        <td style="border:solid 1px black ;">{{currentTask.symbol}}</td>
        <td style="border:solid 1px black ;">{{currentTask.timeStamp}}</td>
      </tr>
    </tbody>
  </table>
<footer><button (click)="back('admin')">Back</button>
</footer>